/* Root section contains color scheme*/
:root {
    --primary-color: rgb(240, 248, 255);
    --secondary-color: rgb(52, 34, 133);
}

/* these elements apply to entire page*/
* {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2px;
    padding: 0;
}

/*Body section titles*/
h2 {
    text-align: center;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-style: oblique;
}

/* Header/Nav*/
h1 {
    text-align: center;
    font-style: oblique;
}

.welcome ul {
    list-style: none;
    font-weight: bold;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.selfie {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

/*button style*/
button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
}

/*body section*/
.bio {
    text-align: center;
}

.selfie {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.projects {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: inline;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* only applies to project1*/
.project1 {
    text-align: center;
}

.project-img1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*applies to all other projects*/
.project-img {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    flex-wrap: wrap;
}


/*footer*/
.contact {
    text-align: center;
}

span {
    text-decoration: underline;
}

/*Media Query section*/
@media screen and (max-width: 768px) {

    .selfie,
    .project-img {
        width: 50%;
    }

    .project-img1 {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

    .selfie,
    .project-img {
        width: 75%;
    }

    .project-img1 {
        width: 100%;
    }

}