/* Root section contains color scheme*/
:root {
    --primary-color: rgb( 240, 248, 255);
    --secondary-color: rgb(52, 34, 133);
}

* {
    background-color: var(--primary-color);
}
/* Header*/
.welcome ul {
    display: inline;
    list-style: none;
    font-weight: bold;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    background:rgb(52, 34, 133);
    color: white;
    border-radius: 5px;

}

h1, h2, h3, h4 {
    color: rgb(52, 34, 133);
}

span {
    font-size: medium;
}

.projects {
    text-align: center;
}

.project-img {
   max-width: 50%;
   max-height: 50%;
   text-align: center;
}

.contact {
    /* make pretty */
        text-align: center;
}